doctype html
html(lang='en')
  head
    title Intro to Typescript
    link(href='../../styles/css/main.css', rel='stylesheet')
  body
    include ../_includes/header.pug
    article.site-article
      h1.article-heading Intro to Typescript!
      section.article-intro
        
    include ../_includes/footer.pug
