doctype html
html(lang='en')
  head
    title Intro to Typescript
    link(href='../../styles/css/main.css', rel='stylesheet')
  body
    include ../_includes/header.pug
    include ../_includes/article-header.pug
    +article-header('Intro to Typescript')
      section.article-content
        include index.md
    include ../_includes/footer.pug
