// this is the index :]
@import "_normalize.scss";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700);

$alpha-black: rgba(0, 0, 0, 0.6);
$main-color: #131A1C;
$main-color: #F5F3ED;

$accent-color: #eee;
$accent-color: #222;

$accent-color-2: #222;
$link-color: white;


$accent-color-3: #eee;
$accent-color-4: #29307D;

%transition-s {
  transition: 250ms all ease-in;
}
%transition-m {
  transition: 500ms all ease-in;
}

:root {
  //font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
}

body {
  background: $main-color;
  // background-attachment: fixed;
  // background-image: linear-gradient($alpha-black, $alpha-black), url('https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bfb59a246c6092ff0daabd284b');
  // background-size: cover;
  background: lighten($accent-color-2, 10%);
  //border: .5rem solid $accent-color-2;
  //background: linear-gradient(to bottom, $accent-color-3, $accent-color-4);
  color: $accent-color;
  font-family: "PT Sans", Arial;
  // &::before {
  //   background: $accent-color-2;
  //   content: '';
  //   display: block;
  //   height: .5rem;
  //   width: 100%;
  // }
  overflow-x: hidden;
}

header {
  background: $accent-color;
  color: invert($accent-color);
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.sidebar {
  background: $alpha-black;
  color: invert($accent-color);
  height: 100%;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 30vw;
}

h1 {
  margin-top: 2.5rem;
  font-size: 4rem;
}

header > a {
  color: invert($accent-color);
  text-decoration: none;
}

.header__links {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: row;
  margin-left: 15%;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70%;

  a {
    color: invert($accent-color);
    font-weight: bold;
    align-content: space-around;
    display: block;
    text-decoration: none;
    width: 25%;
    @extend %transition-s;
    &:hover {
      color: $accent-color-3;
      @extend %transition-s;
    }
  }
}

header, footer {
  margin: 0 auto;
  position: relative;
  //width: 60rem;
}

ul {
  list-style-type: none;

}



main {
  //background: white;
  //margin-left: 15vw;
}

footer {
  height: 10rem;
}
main {
  width: 100%;
}
.posts {
  //background: $accent-color-2;
  flex-flow: wrap;
  align-content: space-between;
  display: flex;

  padding: 2rem;
  margin: 0 auto;
  width: 80rem;
}
.post {
  background: white;
  //border: 1px solid transparent;
  //border-radius: 4px;
  margin: .5rem;
  padding: 2rem;
  position: relative;
  width: calc(50% - 1rem);
  @extend %transition-s;
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.25em;
    line-height: 1.2;
  }
  &.featured {
    //border-left: 4px solid $accent-color-2;
    font-size: 140%;

    width: calc(100%);
  }
  &:hover {
    //background: white;
    //border: 1px solid darken($main-color, 15%);
    @extend %transition-s;
  }
}

.tag {
  $n: 10;
  //background: $accent-color-4;
  color: $main-color;
  display: inline-block;
  margin: .5rem .25rem .25rem 0;
  font-size: .8em;
  padding: .25rem;
  @for $i from 1 through $n {
    &:nth-of-type(#{$i}) {

      //background: hsl((360 / $i), 60%, 40%);
      background: rgb(80, 120, (255 / $i) + 100);
    }
  }
}









///
