*,
*::before,
*::after
  box-sizing: border-box;

::selection,
::-moz-selection
  background: seagreen
  color: white

body, html
  font-family: 'Roboto', sans-serif;
  height: 100%;
  //overflow-y: hidden;

a
  color: inherit;
  text-decoration: none;
