//@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px);
@import 'vars'
@import 'normalize'
@import 'blocks'
@import 'global'
@import 'article'

.site-header
  background: b;
  background: linear-gradient(-45deg, b, c);
  left: 0;
  margin: 0;
  //position: fixed;
  top: 0;
  width: 100%;

.site-heading
  color: a;
  font-size: 2rem;
  letter-spacing: 5px;
  margin: 0;
  padding: 1vw;
  text-align: center;
  text-transform: uppercase;

.site-nav
  background: a;
  .site-nav-items
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  .nav-item
    flex-basis: 20%;
  .nav-item-link
    color: darken(b, 35%);
    display: block;
    padding: 1vw;
    text-align: center;
    {transition-s}
    &:hover
      background: darken(a, 10%);
      {transition-s}

.site-content
  margin: 8vh auto;
  max-width: 60vw;

.site-article-list
  list-style-type: none;

.site-article-list-item
  font-family: 'Slabo 27px', serif;
  font-size: 1.8rem;
  padding: 1rem;

.site-footer
  margin: 5vw;

.site-portrait
  background-blend-mode: luminosity;
  background-image: url('../../img/pineapple.jpg'), linear-gradient(b, a);
  background-size: cover;
  height: 6rem;
  margin: 0 auto;
  width: 6rem;
  {transition-s}
  &:hover
    background-blend-mode: normal;
    {transition-s}

.site-bg-canvas
  background: a;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
