.site-nav
  background: a;
  .site-nav-items
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  .nav-item
    flex-basis: 20%;
  .nav-item-link
    color: darken(b, 35%);
    display: block;
    padding: 1vh;
    text-align: center;
    {transition-s}
    &:hover
      background: darken(a, 10%);
      {transition-s}
