doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Emma Ramirez has a website.
    link(href='styles/css/main.css', rel='stylesheet')
  body
    header
      h1 Em🍍ma
      //.portrait
    main
    footer
      p This is the footer.
