doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Emma Ramirez has a website.
    link(href='styles/css/main.css', rel='stylesheet')
  body
    header
      h1 Em🍍ma
      //.portrait
    main
      .container
        article
          h2 Intro to React Native
          p React Native, which has been out for less than a year now...
        article
          h2 Using Stylus with Webpack
          p Webpack, Stylus, CSs yayaya dydyda buggle be dlood prooo florp.
