doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px', rel='stylesheet', type='text/css')
    // <link href='styles/css/main.css' rel='stylesheet'>
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    title Emma Ramirez | Code is Sweet: a Blog about Javascript
    link(rel='stylesheet', href='dist/styles/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    header.site-header
      .site-heading-wrapper
        h1.site-heading
          img.pineapple-icon(src='img/pineapple.svg')
          |  CODE IS SWEET
          img.pineapple-icon(src='img/pineapple.svg')
      .search-container
        input(type='search', placeholder='search')
        i.fa.fa-search.search-icon
    main.site-main
    footer.site-footer
      p.site-footer-text Made with ♥ by Emma
    script(src='dist/scripts/bundle.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-79007755-1', 'auto');ga('send', 'pageview');
