@use "sass:math";
@import "../../variables";

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.tags .tag {
  // background: #fff;
  color: #000;
  display: block;
  font-size: 0.95rem;
  // margin-bottom: 0.25rem;
  // margin-right: -1px;
  // padding: 0.25rem 1rem;
  padding: 6px;
  padding-right: 4px;
  text-align: center;
  // transition: 250ms all;
  // transform: skew(-15deg);
}
.tag.highlight, .tag:hover {
  text-decoration: underline;
}
.big-tag {
  background-color: hsl(math.random() * 360, 70%, 70%);
  color: $dark-color;
  max-width: 18rem;
}
// .tag-inner {
//   display: inline-block;
//   transform: skew(15deg);
// }