.tags
    display flex
    justify-content flex-start
    margin-top .5rem
.tags .tag
    background #eeeeee
    border-radius .5rem
    color #555
    display span
    font-size .95rem
    margin-right .25rem
    padding .25rem .5rem
    transition 250ms all