.list
    font-size 1.25rem
    list-style-type none
    margin 1rem

.list-item
    margin-bottom 1em
    @media screen and (max-width: 640px)
        margin .5rem
    a
        color #222
        text-decoration none
        &:hover
            color #2C7EFF

.item-description,
.item-date
    color #ccc
    font-size .95rem

.item-emoji
    display inline-block
    margin-left -2.5rem
    text-align right
    width 2.25rem

.item-date
    font-family monospace

.dark .list-item a
    color #fff
    &:hover
        color #7d95c6

.item-wip-badge
    background #eeeeee
    color #333
    font-size .9rem

.dark .item-wip-badge
    background rgba(0, 0, 0, 0.3)
    color #eee