

.list {
  font-size: 1.25rem;
  list-style-type: none;
  margin: 1rem;
}

.no-items {
  margin: 1em;
  font-size: 1.15rem;
}

.list-item {
  position: relative;
  
  //border: 1px solid #eee;
  //border-radius: 2px;
  //box-shadow: 0 0 2px #eee;

  padding: 2rem;
  transition-delay: 150ms;

  @media screen and (max-width: 640px) {
    margin: 0.5rem;
  }
  a {
    color: #222;
    text-decoration: none;
    &:hover {
      color: #2C7EFF;
    }
  }
  &:hover {
    @for $i from 1 through 10 {
      .tags .tag:nth-child(#{$i}n) {
        transition-delay: $i * 20ms;
        background-color: hsl($i * 36, 70%, 70%);
      }
    }
    .tags:hover {
      .tag {
        background: #fafafa;
      }
      @for $i from 1 through 10 {
        .tag:nth-child(#{$i}n):hover {
          color: #555;
          background-color: hsl($i * 36, 70%, 70%);
        }
      }
    }
  }
}

.item-description, 
.item-date {
  color: #666;
  font-size: 0.95rem;
}

.dark .item-description,
.dark .item-date {
  color: #888;
}

.item-emoji {
  margin-left: -2.5rem;
  text-align: right;
  width: 2.25rem;
}

.item-date {
  display: block;
  font-family: monospace;
}

.dark .list-item a {
  color: #fff;
  &:hover {
    color: #7d95c6;
  }
}

.item-wip-badge {
  background: #eeeeee;
  color: #333;
  font-size: 0.9rem;
}

.dark .item-wip-badge {
  background: rgba(0, 0, 0, 0.3);
  color: #eee;
}

.item-last-updated {
  vertical-align: middle;
  margin-left: 0.25rem;
}

.item-title {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.item-description {
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0;
}