.list
    font-size 1.25rem
    list-style-type none
    margin 1rem

.list-item
    margin-bottom .5rem
    a
        color #222
        text-decoration none
        &:hover
            color #2C7EFF

.item-description
    color #ccc
    font-size .95rem

.dark .list-item a
    color #fff
    &:hover
        color #7d95c6

.item-wip-badge
    background #eeeeee
    color #333
    font-size .9rem