doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px', rel='stylesheet', type='text/css')
  title &#x1F34D; The First Day at npmjs | A blog about Javascript, Modern Art, and Pineapples
  link(rel='stylesheet', href='../../styles/index.css')
body
  a(class='site-link', href='../..')
    header.site-header
      h1.site-heading &#x1F34D; CODE IS SWEET &#x1F34D;
      h2.site-heading.site-heading-subtitle a blog by Emma Ramirez
  main.site-main-article(data-id='2')
    header.article-header
      h1.article-heading My First Day at npmjs
      span.article-author
        | by Emma Ramirez&nbsp;
        img(src='../../img/pineapple.jpg')
      span.article-date-time 2016-06-06 07:56am
      span.article-content
        p 6:55am, I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet.
        p Lorem ipsum text. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet.
        p Lorem ipsum text. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet.
        figure.img-container
          img(src='../../img/pineapple.jpg')
        p Lorem ipsum text. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet. I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet.
  footer.site-footer
    p.site-footer-text Made with &hearts; by Emma
    //- .site-portrait
  script(src='../../scripts/bundle.js')
