doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px', rel='stylesheet', type='text/css')
  title &#x1F34D; My First Day at npmjs | Code is Sweet: A Blog About Javascript
  link(rel='stylesheet', href='../../styles/index.css')
body
  a(class='site-link', href='../..')
    header.site-header
      h1.site-heading &#x1F34D; CODE IS SWEET &#x1F34D;
      h2.site-heading.site-heading-subtitle a blog by Emma Ramirez
  main.site-main-article(data-id='2')
    header.article-header
      h1.article-heading My First Day at&nbsp;
        img(class='npm-logo', src='../../img/npm-logo.png')
      .article-metadata
        span.article-author
          | by Emma Ramirez&nbsp;
          img(src='../../img/me.jpg')
        span.article-date-time 2016-06-06 04:47:22pm
      span.article-content
        p 6:55am, I woke up again, sweaty: I had that dream. I had shipped code without running all the tests correctly and now everything was in disarray&mdash;I had broken the internet.
        p Well, thankfully, by the end of the day that had not happened. In fact, I felt like I was getting to contribute to the future of the internet and open source one step at a time at npmjs. (Now, some background: npm is a True Ventures portfolio company and through an interview process, I was somehow chosen for a summer internship in their offices in downtown Oakland).
        p My day didn't actually start at npm; it started at the true ventures office in downtown San Francisco. Alongside nine other college-age students, we are the interns. It's a weird sensation&mdash;knowing you are soooo not qualified to be around these absolute geniuses and having to recognize they probably feel that way about you. Of those students, I might be of around three who are programming, the rest are mostly marketing. We're from all parts of the country and different colleges and different majors.
        p Christiaan Vorkink, our director read to us recommendations from applicants. "Best student I've ever met...", "in the top 1% of her peers", "without a doubt", "one of", "the most brilliant", "engineers on campus", etc. It's pretty intimidating to hear these sorts of things when your recommendation probably includes something like "only set classroom on fire once." What shook me a bit was when he told us these were the rejects.
        p
         | I recognize impostor syndrome is as an issue in Silicon Valley, especially for women of color, but wow, 
         em I should be flipping burgers right now
         | , I thought.
        p And with our complimentary swag, we went our separate ways as I met up the cast and crew of npm at Rudy's Cafe and immediately felt welcome. Arizona is my favorite! And stickers! I love stickers! I attended my first official meeting (I'm working on the CLI team), and learned some pretty interesting things about both npm itself and the open source community. Alongside that, I really appreciate npm for its commitment to work-life balance, something I think a lot of interns can forget in their goal to be all-around impressive.
        figure.img-container
          img(src='../../img/wonderful-items.JPG')
          span.caption npm offerings to summon Emma
        p
          | I even closed issue&nbsp;
          a(href='https://github.com/npm/npm/issues/12951') #12951
          | &nbsp;(spoiler alert, it was spam). Okay, so it was spam, but I felt like part of a team! It felt like I was really contributing to open source in a more meaningful way than I had normally gotten to.
        p And at the start of the day, I felt nervous and intimidated. I can't stay I still don't! But I feel a lot more confident that I belong here at a wonderful place like npm, working with wonderful people. I'm excited for the awesome projects and contributions I'll get to make this summer.
        p Here's to True Ventures, npm, and stress balls!
        figure.img-container
          img(src='../../img/me-at-npm.JPG')
          span.caption npm &mdash; Nice People Matter
  footer.site-footer
    p.site-footer-text Made with &hearts; by Emma
    //- .site-portrait
  script(src='../../scripts/bundle.js')
