doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px', rel='stylesheet', type='text/css')
  title &#x1F34D; Emma Ramirez | A blog about Javascript, Modern Art, and Pineapples
  link(rel='stylesheet', href='../../styles/index.css')
body
  header.site-header
    h1.site-heading &#x1F34D; Code is Sweet &#x1F34D;
    h2.site-heading.site-heading-subtitle a blog by Emma Ramirez
  main.site-main
  | Here is some Text.
  footer.site-footer
    p.site-footer-text Made with &hearts; by Emma
    .site-portrait
  script(src='../../scripts/bundle.js')
