doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic|Slabo+27px', rel='stylesheet', type='text/css')
  title &#x1F34D; My First Day at npmjs | Code is Sweet: A Blog About Javascript
  link(rel='stylesheet', href='../../styles/index.css')
body
  a(class='site-link', href='../..')
    header.site-header
      h1.site-heading &#x1F34D; CODE IS SWEET &#x1F34D;
      h2.site-heading.site-heading-subtitle a blog by Emma Ramirez
  main.site-main-article(data-id='2')
    header.article-header
      h1.article-heading Getting Running with Typescript
      .article-metadata
        span.article-author
          | by Emma Ramirez&nbsp;
          img(src='../../img/me.jpg')
        span.article-date-time 2016-06-06 04:47:22pm
      span.article-content
        p Typescript has, seemingly overnight blown up onto the development scene. With over one million downloads monthly over npm, Typescript is now the most popular compile-to-javascript language.
  footer.site-footer
    p.site-footer-text Made with &hearts; by Emma
    //- .site-portrait
  script(src='../../scripts/bundle.js')
