.header
    border-bottom 1px solid #eee
    display flex
    font-size 2rem
    justify-content space-around
    padding .5rem
    width 100%

.site-style-switcher
    cursor pointer
    user-select none