.header
    border-bottom 1px solid #eee
    display flex
    font-size 2rem
    justify-content space-around
    padding .5rem
    width 100%

.site-style-switcher
    cursor pointer
    user-select none

.dark .header
    border-bottom 1px solid #333

.dark .site-title
    color #eee

.site-title
    font-weight 100
    &:hover
        animation 2s hue infinite alternate
    
@keyframes hue {
    0% {
        filter hue-rotate(0deg)
    }
    100% {
        filter hue-rotate(360deg)
    }
}