

@media screen and (min-width: 1500px) {
  .header {
    width: 21rem;
    margin-left: -23rem;
    border-radius: .25rem;
    position: fixed;
    text-align: center;
    z-index: 1;
  }

  .header .site-title {
    margin-top: 2rem;
    color: #111 !important;
    border: none !important;
  }
}

.day-switch {
  cursor: pointer;
}

.site-style-switcher {
  cursor: pointer;
  user-select: none;
}

.dark .header {
  border-bottom: 1px solid #333;
}

.dark .site-title {
  color: #eee;
}

.site-title {
  font-weight: 100;
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  &:hover {
    animation: 2s hue infinite alternate;
  }
}

@-webkit-keyframes hue  {
  0%  {
    filter: hue-rotate(0deg);
  }
  100%  {
    filter: hue-rotate(360deg);
  }
}

@-moz-keyframes hue  {
  0%  {
    filter: hue-rotate(0deg);
  }
  100%  {
    filter: hue-rotate(360deg);
  }
}

@keyframes hue  {
  0%  {
    filter: hue-rotate(0deg);
  }
  100%  {
    filter: hue-rotate(360deg);
  }
}
