doctype html
html(lang='en')
  head
    title New Site Design!
    link(href='../../styles/css/main.css', rel='stylesheet')
  body.contains-article
    include ../_includes/header.pug
    include ../_includes/article-header.pug
    +article-header('New Site Design!')
      section.article-content
        include index.md
    include ../_includes/footer.pug
