@import 'tailwindcss';


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {

    --caroline-blue-base: hsla(217, 97%, 76%, 1);
    --caroline-blue-100: hsl(217, 68%, 63%);
    --caroline-blue-200: hsl(217, 90%, 76%);
    --caroline-blue-400: hsl(217, 85%, 75%);
    --caroline-blue-500: hsla(217, 97%, 76%, 1);
    --caroline-blue-600: hsl(217, 78%, 65%);
    --caroline-blue-700: hsl(217, 78%, 60%);
    --caroline-blue-800: hsl(217, 78%, 55%);
    --caroline-blue-900: hsl(217, 78%, 50%);

    --sandy-tan-200: hsl(36, 38%, 95%);
    --sandy-tan-300: hsl(36, 38%, 90%);
    --sandy-tan-400: hsl(36, 38%, 90%);
    --sandy-tan-500: hsl(36, 38%, 85%);
    --sandy-tan-600: hsl(36, 38%, 80%);
    --sandy-tan-700: hsl(36, 38%, 75%);
    --sandy-tan-800: hsl(36, 38%, 70%);
    --sandy-tan-900: hsl(36, 38%, 65%);

    --eggshell-white-500: hsl(40, 38%, 90%);

    --transit-yellow-500: hsl(47, 100%, 78%);
    --transit-yellow-600: hsl(47, 100%, 73%);
    --transit-yellow-700: hsl(47, 100%, 68%);
    --transit-yellow-800: hsl(47, 100%, 63%);
    --transit-yellow-900: hsl(47, 100%, 58%);

    --liver-brown-500: hsl(0, 9%, 32%);
    --liver-brown-600: hsl(0, 9%, 27%);
    --liver-brown-700: hsl(0, 9%, 25%);
    --liver-brown-800: hsl(0, 9%, 20%);
    --liver-brown-900: hsl(0, 9%, 15%);

    --blush-pink-500: #ED9CEF;

    --light-rose-500: #FFCBCB;

    --magic-mint-500: #B8FFE5;

    --lawn-green-500: hsl(128, 61%, 47%);
    --lawn-green-600: hsl(128, 61%, 42%);
    --lawn-green-700: hsl(128, 61%, 37%);
    --lawn-green-800: hsl(128, 61%, 32%);
    --lawn-green-900: hsl(128, 61%, 27%);

    --lang-svelte: #ff3e00;
    --lang-rust: #dea584;
    --lang-elixir: #6e4a7e;
    --lang-typescript: #3178c6;
    --lang-javascript: #f1e05a;
    --lang-haskell: #5e5086;
    
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
	--sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 24 5.7% 82.9%;
	--sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


.source-serif-4-<uniquifier> {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: var(--sandy-tan-600);
  font-family: "Source Serif 4", serif;
}

a:not(.style-none) {
  color: var(--liver-brown-500);
  text-decoration: underline;
  font-weight: 600;
}

a:not(.style-none):hover {
  color: var(--liver-brown-900);
  transition: color 0.2s ease-in-out;
}

.disco-cursor {
  cursor: url(https://cdn.custom-cursor.com/db/10911/32/minimal-disco-ball-pointer.png), pointer !important;
}