dark-color = #242830

body
    font-family 'Open Sans', sans-serif
    overflow-x hidden
    &.dark
        background dark-color
        color #eee
    
    @media screen and (max-width: 640px)
        font-size 20px

a
    color #121212
    text-decoration none

h2
    font-size 1.5rem
    font-weight lighter
    margin .25rem

.posts
    margin 2rem auto
    max-width: 40rem

.monospace
    font-family monospace
    margin .5rem

.elsewhere-link
    opacity 0.85
    &:hover
        opacity 1

.dark .elsewhere-link
    filter invert(100%)

.blog-post
    font-size 1.15rem
    margin 0 auto
    max-width 60rem
    h1
        font-size 2rem
        font-weight light
        margin-bottom 1rem
        margin-left 1rem
        margin-top 3rem
    p
        font-size 1.25rem
        line-height 1.4
        margin 1rem
    code
        background #eee
        padding .25rem

.dark .blog-post
    code
        background darken(dark-color, 10%)
        color #fff
        outline 1px solid #2e2c2c

.stats
    background #efefef
    bottom 0
    left 0
    position absolute
    text-align center
    width 100%