body
    font-family 'Open Sans', sans-serif
    overflow-x hidden
    &.dark
        background #242830
        color #eee

a
    color #121212
    text-decoration none

h2
    font-size 1.5rem
    font-weight lighter
    margin .25rem

.posts
    margin 2rem auto
    max-width: 40rem

.monospace
    font-family monospace
    margin .5rem

.elsewhere-link
    opacity 0.85
    &:hover
        opacity 1

.dark .elsewhere-link
    filter invert(100%)