@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css)

dark-color = #242830
light-color = #efefef

::-moz-selection
  color dark-color
  background #42f4f4

::selection
  color darkc-olor
  background #42f4f4

body
    font-family 'Open Sans', sans-serif
    overflow-x hidden
    &.dark
        background dark-color
        color #eee
    
    @media screen and (max-width: 640px)
        font-size 20px

a
    color #121212
    text-decoration none

.palm-trees
    @media screen and (max-width: 640px)
        width 100%

h2
    font-size 1.5rem
    font-weight lighter
    margin .25rem

.posts
    margin 0 auto
    max-width 40rem

.monospace
    font-family monospace
    margin .5rem

.elsewhere-link
    opacity 0.85
    &:hover
        opacity 1

.dark .elsewhere-link
    filter invert(100%)

.blog-post
    font-size 1.15rem
    margin 0 auto
    max-width 55rem
    padding 0 1rem
    padding-bottom 5rem
    h1
        font-size 2rem
        font-weight light
        margin-bottom 1rem
        margin-left 1rem
        margin-top 3rem
    h2
        margin-top 2rem
        margin-left 1rem
    blockquote
        color #444
        border-left .25rem solid #ccc
        p
            padding .25rem
    p
        font-size 1.25rem
        line-height 1.4
        margin 1rem
    code
        background #eee
        font-family 'Fira Code'
        font-size 1rem
    pre
        background #1d1f21
        font-family 'Fira Code'
        line-height 1.45
        margin-left 2rem
        padding .5rem
        code
            background transparent
            display block
            font-family 'Fira Code'

.markdown-body
    ul
        font-size 1.15rem
        line-height 1.4
        padding-left 4rem

.markdown-body img
    width 100%

.markdown-body .caption
    color #bbb
    font-size 80%
    text-align center


.markdown-body .blog-post a
    color #4286f4

.dark .blog-post
    code
        background darken(dark-color, 10%)
        color #fff
        outline 1px solid #2e2c2c

.stats
    background #efefef
    bottom 0
    left 0
    position fixed
    text-align center
    width 100%

.dark .stats
    background rgba(black, 0.3)

#disqus_thread
    margin 0 auto
    max-width 50rem