@import 'variables.styl'
@import 'normalize.styl'
@import 'article.styl'
@import 'buttons.styl'
@import 'highlight-hemisu.styl'
@import 'search.styl'

body,
html
  height: 100%;

body
  background: $body;
  color: $text;

.site-link
  text-decoration: none;

.site-header
  align-content: space-between;
  background: linear-gradient(to left, $seafoam, $seafoam2);
  border-bottom: 4px solid darken($seafoam, 50%);
  color: darken($seafoam, 45%);
  color: #333;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .site-heading-wrapper
    align-self: flex-end;
  .site-heading
    margin: 0;
    text-align: center;
  .site-heading-subtitle
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 100;
    padding: .25rem;

.site-main
  //background: #333;
  margin: 4rem auto;
  max-width: 60rem;
  padding: 2vw;

.site-article
  border-bottom: 1px solid #eee;
  padding: 1rem;
  position: relative;
  .site-article-date-time
    color: #ddd;
    display: inline-block;
    text-align: right;
    position: absolute;
    width: 100%;
  .site-article-heading
    font-size: 2.2rem;
    margin-bottom: .5rem;
    a
      color: $text;
      text-decoration: none;
      transition: 250ms all;
      &:hover
        color: darken($seafoam, 45%);
        transition: 250ms all;
  .content
    color: $text;
    font-size: 1.2rem;
    line-height: 1.4;
    p
      text-indent: 2rem;
  .tag-container
    //align-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    //margin: .25rem auto;
    //margin: .25rem;
    width: 100%;
  .site-article-tag
    background: darken($seafoam2, 35%);
    display: inline-block;
    font-size: 12px;
    margin: 0 .25rem;
    padding: .25rem;
    for num in (1..10)
      &:nth-of-type({num})
        opacity: 1 - num * .1;


.site-footer
  margin-bottom: 5vh;
  .site-footer-text
    color: darken($seafoam, 25%);
    text-align: center;
  .site-portrait
    border: 1px solid $seafoam;
    background: linear-gradient(to left, rgba($seafoam, 0.5), rgba($seafoam2, 0.5)), url('../img/pineapple.jpg');
    background-blend-mode: color;
    background-size: cover;
    height: 10rem;
    margin: 0 auto;
    transition: 300ms all;
    width: 10rem;

.pineapple-icon
  height: 2rem;
