.article {
  &.intro {
    font-size: 2rem;
    padding: 2rem;
    header {
      a {
        @extend %reset-link;
        &:hover {
          color: tomato;
        }
      }

    }
    .date {
      font-style: italic;
    }
    .content {
      display: none;
    }
  }
}
