.article {
  &.intro {
    font-size: 2rem;
    padding: 2rem;
    header {
      h2 {
        //display: inline-block;
      }
      h2 a {
        @extend %reset-link;
        &:hover {
          color: tomato;
        }
      }
      &:hover {
        //background: #eee;

      }
    }
    .date {
      font-style: italic;
    }
    .content {
      display: none;
    }
  }
}


.article-detail {
  .content {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 0 auto;
    width: 80rem;
    p {
      margin-top: 1rem;
    }
  }
  code {
    font-size: 1.2rem;
  }
}
