.article {
  &.intro {
    font-size: 2rem;
    padding: 2rem;
    header {
      h2 {
        //display: inline-block;
      }
      h2 a {
        @extend %reset-link;
        &:hover {
          color: tomato;
        }
      }
      &:hover {
        //background: #eee;

      }
    }
    .date {
      font-style: italic;
    }
    .content {
      display: none;
    }
  }
}


.article-detail {
  .article-heading {
    font-size: 2.5rem;
    margin: 1.5rem;
    text-align: center;
  }
  .byline {
    color: #ccc;
    font-size: 1.125rem;
    font-style: italic;
    text-align: center;
    a {
      @extend %reset-link;
    }
  }
  .content {
    font-family: 'Droid Serif', serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 80rem;
    padding: 1vw;
    p {
      margin-bottom: 1.4rem;
    }
    h1:not(.article-heading) {
      font-size: 2rem;
    }
    blockquote {
      color: #222;
      font-size: 1.45rem;
      font-style: italic;
      font-weight: bold;
      line-height: 1.8;
    }
  }
  code {
    font-size: 1rem;
    position: relative;
    // &::before {
    //   background: #eee;
    //   bottom: 100%;
    //   color: #222;
    //
    //   content: attr(lang);
    //   display: block;
    //   font-size: .85rem;
    //   left: 0%;
    //
    //   position: absolute;
    //
    //   width: 100%;
    // }
  }
}
