.header {
  background: #222;
  border-bottom: 1px solid #333;
  letter-spacing: .5rem;
  padding: 2vw;
  text-transform: uppercase;

  width: 100%;
  a {
    @extend %reset-link;
    color: #eee;
  }
}
