$n: 10;
.tags {
  display: inline-block;
  .tag {
    @extend %reset-link;
    border: 1px solid white;
    background: white;
    border: 1px solid black;
    color: black;
    display: inline-block;
    font-size: 70%;
    margin: 0 .25rem;
    padding: .25rem;
    @extend %transition-s;
    @for $i from 1 through $n {
      &:nth-of-type(#{$i}):hover {
        border-color: hsl((360 / $n) * $i, 70, 60);
        background: hsl((360 / $n) * $i, 70, 60);
      }
    }
    &:hover {
      color: white;
      @extend %transition-s;
    }
  }
}
