.tags {
  display: inline-block;
  .tag {
    @extend %reset-link;
    background: rgba(tomato, 0.5);
    color: white;
    display: inline-block;
    font-size: 70%;
    margin: 0 .25rem;
    padding: .25rem;
    @extend %transition-s;
    &:hover {
      background: tomato;
      @extend %transition-s;
    }
  }
}
